# Java class file (Java bytecode)
*.class

# Java ARchive
*.jar

# Gradle
*.gradle
gradlew
gradle/

# Netbeans Project
build/

wrapper/

*.md
*.bat
LICENSE

# Desktop Services Store - macOS
.DS_Store
